# See https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "rust-toolchain"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 14

  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 14

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 14
    ignore:
      # Ignore patch updates for 'taiki-e/install-action' because they seem to only update the tool
      # versions; however GitHub workflow here has intentionally pinned tool version
      - dependency-name: "taiki-e/install-action"
        update-types: ["version-update:semver-patch"]
